.btn-height {
  height: 80%;
}

#demoLink {
  margin: revert;
}

*:disabled:hover {
  cursor: not-allowed;
}

.link,
.link:hover {
  color: white;
  text-decoration: none;
}

.teal {
  color: teal;
}

.cursor {
  cursor: pointer;
  margin-left: -110%;
  padding-top: 110%;
}

.navLinkTab {
  font-size: larger;
}

.margin-bottom {
  margin-bottom: 3%;
}

audio {
  width: 100%;
}

.count-label {
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  margin-right: -10%;
  margin-bottom: 6%;
}

.img-height {
  height: 180px;
}

.overlay {
  position: absolute;
  top: 14%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  width: 100%;
  opacity: 1;
  cursor: pointer;
}

.overlay-icon {
  color: lightgray;
  font-size: 100px;
  position: absolute;
  top: 25%;
  left: 34%;
  text-align: center;
}

.pdf-viewer {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pdf-viewer::-webkit-scrollbar {
  display: none;
}

iframe {
  width: 105%;
  height: 100%;
  pointer-events: none;
}

.card-text-margin {
  margin-bottom: 5%;
}

.footer-height {
  height: 15%;
}

.file-type-input {
  margin-left: -4%;
}

.ng-select.ng-select-style ::ng-deep .ng-select-container {
  border-color: #FC6E26;
  border-width: 1.5px;
  font-size: small;
  color: black;
  font-weight: bold;
}