.refer-and-earn-card-shadow {
    padding: 10px;
    box-shadow: 5px 10px 8px #00000029;
}

.faq-card-margin{
    margin-bottom: 2%;
}

.main-image-style{
    width: 100%;
    height: auto;
}

.refer-and-earn-card-body-margin{
    padding-bottom: 0%;
}

.refer-and-earn-margin{
    margin-bottom: 8%;
}

.refer-and-ear-link-style{
    color: #212121;
    background-color: #E2E2E2;
    padding: 3%;
    border-radius: 30px;
    font-weight: bold;
    font-size: smaller;
}

.copy-and-refer-box-style{
    color: #FCFCFC;
    background: linear-gradient(to right, #FFFFFF 0%,#FFFFFF 30%,#F26A00 30%,#F26A00 100%);
    padding: 1%;
    border-radius: 30px;
    font-size: smaller;
    width: 50%;
    border: 1.5px solid #F06900;
    text-align: center;
}

.mario-running-style{
    width: 30%;
    display: inline-block;
}

.mario-running-image-style{
    width: 60%;
}

.copy-and-refer-text-style{
    width: 70%;
    display: inline-block;
}

.social-media-image-style{
    margin-right: 2%;
    width: 15%;
    padding-left: 2;
    margin-left: 2%;
}

/* ******************* LEADER BOARD STYLES ***************** */

.leader-image{
    margin-top: 1%;
    border-radius: 50% 50% 50% 50%;
    width: 40px;
    margin-bottom: 1%;
    margin-left: 1%;
    border: 2pt solid #D63C2A;
}

.table-coins{
    color: #F8C000;
}

.golden-coin-image{
    width: 12%;
}

/* ******************* COIN STYLES ***************** */

.golden-coin-text{
    color: #F8C000;
    font-size: 3em;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;
}

.golden-coin-progress{
    background: linear-gradient(to right, #DCB300 0%,#DCB300 20%,#FFF0AE 20%,#FFF0AE 100%);
    border-radius: 30px;
    height: 10px;
}

.golden-coin-progress-style{
    position: relative;
}

.golden-coin-image-progress{
    width: 50%;
}

.golden-coin-image-group{
    position: absolute;
    /* bottom: 1%; */
}

.golden-coin-image-text{
    color: #212121;
    font-size: x-small;
    font-weight: bold;
}

.golden-coin-image-text-disabled{
    color: #BDBDBD;
    font-size: x-small;
    font-weight: bold;
}




  