<!--  -->

<ng-template #dashTemplate>
    -
</ng-template>

<div class="font-weight-bold font-lg-style color-F6430F text-center">
    Assignments
</div>

<br>

<!-- No Assignments Found -->
<ng-container *ngIf="batchTopicAssignmentList.length == 0">
    <br>
    <div class="card my-course-card-style h-100">
        <div class="card-body">
            <div class="text-center">
                <img width="100" src="assets/icon/colour-icons/no-session-plan.jpg">
                <div class="font-weight-bold font-lg-style text-center">Oops!</div>
                <br>
                <div class="font-lg-style text-center">
                    No Assignments Found
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Assignment List -->
<ng-container *ngIf="batchTopicAssignmentList.length > 0 && isAssignmentListVisible">
    <table class="table table-borderless">
        <thead>
            <tr class="text-center">
                <th>Sr No.</th>
                <th class="text-left">Assignment Name</th>
                <th>Difficulty</th>
                <th>Due Date</th>
                <th>Submitted Date</th>
                <th>Score</th>
                <th>Feedback</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let assignment of batchTopicAssignmentList;let i = index">
                <tr class="text-center cursor-pointer-style assignment-row-style"
                    (click)="onAssignmentRowClick(assignment)">
                    <td class="font-sm-style font-weight-bold color-757575">
                        {{i+1}}
                    </td>
                    <td class="text-left">
                        <img class="width-30px-style" src="assets/course/assignments.png" alt="Assignment Name">
                        &nbsp;&nbsp;
                        <span class="font-sm-style font-weight-bold color-757575">
                            {{assignment.programmingQuestion.label}}
                        </span>
                    </td>
                    <td>
                        <div class="tasklist-box-style"
                            [ngClass]="{'green-box-style': assignment.programmingQuestion.level===1,
                            'yellow-box-style': assignment.programmingQuestion.level===2,'red-box-style': assignment.programmingQuestion.level===3}">
                            <div *ngIf="assignment.programmingQuestion.level===1">Easy</div>
                            <div *ngIf="assignment.programmingQuestion.level===2">Medium</div>
                            <div *ngIf="assignment.programmingQuestion.level===3">Hard</div>
                        </div>
                    </td>
                    <td class="font-sm-style font-weight-bold">
                        {{assignment.dueDate | date:'EEE, MMM d, y'}}
                    </td>
                    <td>
                        <span *ngIf="assignment.submissions?.length > 0; else dashTemplate"
                            class="font-sm-style font-weight-bold">
                            {{assignment.submissions[0]?.submittedOn}}
                        </span>
                    </td>
                    <td class="font-sm-style font-weight-bold">
                        <span *ngIf="assignment.score; else dashTemplate"
                            class="font-md-style font-weight-bold color-757575">
                            {{assignment.submissions[0].score}}/{{assignment.programmingQuestion.score}}
                        </span>
                    </td>
                    <td>
                        <ng-container *ngIf="assignment.facultyRemarks==null">
                            <img class="width-30px-style" src="assets/icon/grey-icons/assignment-feedback.png"
                                alt="No remarks">
                        </ng-container>
                        <ng-container *ngIf="assignment.facultyRemarks!=null">
                            <img class="width-30px-style" src="assets/icon/colour-icons/comment.png" alt="Remarks">
                        </ng-container>
                        <!-- <div class="row"> -->
                        <!-- If nothing is sent from faculty -->
                        <!-- <ng-container *ngIf="assignment.voiceNote==null && assignment.comment==null">
                                <div class="col-md-6">
                                    <img class="width-30px-style" src="assets/icon/grey-icons/microphone.png" alt="No voice note">
                                </div>
                                <div class="col-md-12">
                                    <div>
                                        <img class="width-30px-style" src="assets/icon/grey-icons/assignment-feedback.png" alt="No comments">
                                    </div>
                                </div>
                            </ng-container> -->

                        <!-- If atleast one feedback is sent from faculty -->
                        <!-- <ng-container *ngIf="assignment.voiceNote!=null || assignment.comment!=null">
                                <div class="col-md-6">
                                    <img *ngIf="assignment.voiceNote!=null" class="width-30px-style" 
                                        src="assets/icon/colour-icons/play-voicenote.png" alt="Voice note">
                                </div>
                                <div class="col-md-12">
                                    <div>
                                        <img *ngIf="assignment.comment!=null" class="width-30px-style" 
                                        src="assets/icon/colour-icons/comment.png" alt="Comment">
                                    </div>
                                </div>
                            </ng-container> -->
                        <!-- </div> -->
                    </td>
                    <td>
                        <div class="tasklist-box-style" [ngClass]="{'red-box-style': assignment.status=='Pending', 
                            'blue-box-style': assignment.status=='Submitted',
                            'green-box-style': assignment.status=='Completed'}">
                            <!-- <span *ngIf ="assignment.submissions[0]?.submittedOn && assignment.status=='Pending'" class="top-right">New</span> -->
                            {{assignment.status}}
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-container>

<!-- Assignment Details -->
<ng-container *ngIf="!isAssignmentListVisible">
    <div>
        <button class="btn btn-default swabhav-button-round" (click)="isAssignmentListVisible=true">
            Back to list
        </button>
    </div>
    <br>

    <!-- Assignment Details Header -->
    <div>
        <span class="font-weight-bold font-lg-style">
            <span class="cursor-pointer-style"
                [ngClass]="{'primary': isQuestionSelected==true, 'color-BDBDBD' : isQuestionSelected==false }"
                (click)="isQuestionSelected=true">
                Assignment Details
            </span>
            <span class="color-BDBDBD">
                |
            </span>
            <span class="cursor-pointer-style"
                [ngClass]="{'primary': isQuestionSelected==false, 'color-BDBDBD' : isQuestionSelected==true }"
                (click)="isQuestionSelected=false">
                Your Answers
            </span>
        </span>
    </div>
    <br>

    <!-- Assignment Question Details -->
    <div *ngIf="isQuestionSelected && selectedBatchTopicAssignment">

        <!-- Header -->
        <div class="heading-style">
            {{selectedBatchTopicAssignment.programmingQuestion.label}}
            <span class="level"> (Level <span [ngClass]="selectedBatchTopicAssignment.programmingQuestion.levelClass">
                    {{selectedBatchTopicAssignment.programmingQuestion.levelName}})</span>
            </span>
        </div>

        <!-- Question -->
        <div class="color-757575 font-md-style" [innerHTML]="selectedBatchTopicAssignment.programmingQuestion.question">
        </div>
        <br>

        <!-- Assignment details -->
        <ng-container *ngIf="!selectedBatchTopicAssignment.programmingQuestion.hasOptions">
            <div [innerHTML]="selectedBatchTopicAssignment.programmingQuestion.example">
            </div>
            <div class="color-757575 font-md-style color-212121 font-weight-bold">
                Constraints :
            </div>
            <div [innerHTML]="selectedBatchTopicAssignment.programmingQuestion.constraints">
            </div>
            <ng-container *ngIf="selectedBatchTopicAssignment.programmingQuestion.testCases">
                <div *ngFor="let testCase of selectedBatchTopicAssignment.programmingQuestion.testCases;let i = index">
                    <ng-container *ngIf="testCase.isActive && !testCase.isHidden">
                        <div class="color-757575 font-md-style color-212121 font-weight-bold">
                            Sample Input {{i+1}}:
                        </div>
                        <div class="question-box">
                            {{testCase.input}}
                        </div>
                        <div class="color-757575 font-md-style color-212121 font-weight-bold">
                            Sample Output {{i+1}}:
                        </div>
                        <div class="question-box">
                            {{testCase.output}}
                        </div>
                        <ng-container *ngIf="testCase.explanation">
                            <div class="color-757575 font-md-style color-212121 font-weight-bold">
                                Explanation of Sample Input {{i+1}}:
                            </div>
                            <div class="question-box">
                                {{testCase.explanation}}
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedBatchTopicAssignment.programmingQuestion.comment">
                <div class="color-757575 font-md-style color-212121 font-weight-bold">
                    Also note :
                </div>
                <div class="question-box">
                    {{selectedBatchTopicAssignment.programmingQuestion.comment}}
                </div>
            </ng-container>
        </ng-container>

    </div>

    <!-- Student's answers -->
    <div *ngIf="!isQuestionSelected">
        <div class="row">
            <div class="col-md-1 no-padding-style">
                <label class="font-sm-style font-weight-bold">Problem Statement:</label>
            </div>
            <div [innerHTML]="selectedBatchTopicAssignment.programmingQuestion.question" class="col-md-11">
            </div>
        </div>
        <div class="float-right" *ngIf="!selectedBatchTopicAssignment.submissions[0]?.isAccepted">
            <button class="btn btn-default swabhav-button-round button-width-style" (click)="onAddNewSubmissionClick()">
                Add new submission
            </button>
        </div>
        <ng-container *ngIf="selectedBatchTopicAssignment.submissions?.length > 0">
            <div>
                <table class="table table-borderless">
                    <thead>
                        <tr class="text-center">
                            <th>Attempted No.</th>
                            <th>Date Submitted</th>
                            <th>Images</th>
                            <th>Git Link</th>
                            <th>Audio</th>
                            <th>Text</th>
                            <th>Score</th>
                            <th>Checked</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let submission of selectedBatchTopicAssignment.submissions;let i = index">
                            <tr class="text-center">
                                <td class="font-weight-bold color-757575 font-sm-style">
                                    {{i+1}}
                                </td>
                                <td class="font-weight-bold color-757575 font-sm-style">
                                    {{submission.submittedOn | date:'EEE, MMM d, y'}}
                                </td>
                                <td>
                                    <img *ngIf="submission.assignmentSubmissionUploads;else dashTemplate"
                                        class="width-50px-style cursor-pointer-style"
                                        src="assets/icon/colour-icons/image.png" alt="Images"
                                        (click)="onImagesClick(submission)">
                                </td>
                                <td>
                                    <span *ngIf="submission.githubURL;else dashTemplate"
                                        class="cursor-pointer-style primary font-weight-bold font-sm-style"
                                        (click)="redirectToExternalLink(submission.githubURL)">
                                        Url
                                    </span>
                                </td>
                                <td>
                                    <img *ngIf="submission.facultyVoiceNote!=null;else dashTemplate"
                                        class="width-30px-style cursor-pointer-style"
                                        src="assets/icon/colour-icons/play-voicenote.png" alt="Play voice note"
                                        (click)="onVoiceClick(submission)">
                                </td>
                                <td>
                                    <img *ngIf="submission.facultyRemarks!=null;else dashTemplate"
                                        class="width-30px-style cursor-pointer-style"
                                        src="assets/icon/colour-icons/comment.png" alt="See comment"
                                        (click)="onCommentClick(submission)">
                                </td>
                                <!-- <td>
                                     <ng-container *ngIf="submission.facultyRemarks!=null; else dashTemplate">
                                        <img *ngIf="submission.facultyRemarks!=null"
                                            class="width-30px-style cursor-pointer-style"
                                            src="assets/icon/colour-icons/comment.png" alt="See comment"
                                            (click)="onCommentClick(submission)">
                                    </ng-container> 

                                    <ng-container
                                        *ngIf="(submission.facultyVoiceNote!=null || submission.facultyRemarks!=null); else dashTemplate">
                                        <div class="row">

                                             If atleast one feedback is sent from faculty 
                                            <div class="col-md-6">
                                                <img *ngIf="submission.facultyVoiceNote!=null; else dashTemplate"
                                                    class="width-30px-style cursor-pointer-style"
                                                    src="assets/icon/colour-icons/play-voicenote.png"
                                                    alt="Play voice note" (click)="onVoiceClick(submission)">
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <img *ngIf="submission.facultyRemarks!=null; else dashTemplate"
                                                        class="width-30px-style cursor-pointer-style"
                                                        src="assets/icon/colour-icons/comment.png" alt="See comment"
                                                        (click)="onCommentClick(submission)">
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </td> -->
                                <td>
                                    <span *ngIf="submission.score!=null; else dashTemplate"
                                        (click)="onSubmissionScoreClick(submission)"
                                        class="cursor-pointer-style primary font-weight-bold font-sm-style">
                                        {{submission.score}}/{{selectedBatchTopicAssignment.programmingQuestion.score}}
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="submission.isChecked; else dashTemplate"
                                        class="primary font-weight-bold font-sm-style">
                                        <img class="width-30px-style" src="assets/icon/colour-icons/check.png"
                                            alt="check">
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="submission.isVoiceNoteVisible">
                                <td colspan="100%" class="text-right">
                                    <!-- <img class="width-150px-style" src="assets/icon/colour-icons/voice-note-graph.png"
                                        alt="Voice note">
                                    &nbsp;&nbsp;&nbsp;
                                    <span class="color-757575 font-sm-style">
                                        0.00/0.05
                                    </span> -->
                                    <!-- <source [src]="sanitize(submission.facultyVoiceNote)" type="audio/wav"> -->
                                    <!-- &nbsp;&nbsp;&nbsp; -->
                                    <!-- <button class="btn btn-default swabhav-button-round button-width-style"> -->
                                    <audio controls="" *ngIf="submission.facultyVoiceNote">
                                        <source [src]="voiceNote(submission.facultyVoiceNote)" type="audio/wav">
                                    </audio>
                                    <!-- </button> -->
                                    &nbsp;&nbsp;
                                    <span class="vertical-align-middle-icon-style"
                                        (click)="submission.isVoiceNoteVisible=false">
                                        <i class="material-icons close-icon">close</i>
                                    </span>
                                    <!-- <button class="btn btn-default delete-button-style button-width-style"
                                        (click)="submission.isVoiceNoteVisible=false">
                                        Close
                                    </button> -->
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-container>
        <div *ngIf="selectedBatchTopicAssignment.submissions?.length == 0">
            <br><br>
            <div class="card">
                <div class="card-body not-found-card-style">
                    <h2>No Submissions Done</h2>
                </div>
            </div>
        </div>
    </div>

</ng-container>

<!-- Comment -->
<ng-template #commentModal let-modal>

    <div class="modal-body">
        <div class="d-flex justify-content-end">
            <span class="close cursor-pointer-style" (click)="modal.dismiss()">
                <i class="material-icons close-icon">close</i>
            </span>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-sm-4">
                <img src="assets/icon/colour-icons/comment.png" alt="comment" class="width-100px-style">
            </div>
            <div class="col-sm-8">
                <h1 class="swabhav-light-orange-text"><strong>Feedback by faculty:</strong></h1>
            </div>
        </div>
        <br>
        <div class="text-center font-weight-bold font-md-style">
            {{selectedSubmission.facultyRemarks}}
        </div>
        <br>
        <!-- <div class="text-center">
            <button class="btn btn-default delete-button-style button-width-style">
                Close
            </button>
        </div> -->
    </div>

</ng-template>

<ng-template #voiceNoteModal let-modal>

    <div class="modal-body">
        <div class="d-flex justify-content-end">
            <span class="close cursor-pointer-style" (click)="modal.dismiss()">
                <i class="material-icons close-icon">close</i>
            </span>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-sm-4">
                <img src="assets/icon/colour-icons/play-voicenote.png" alt="comment" class="width-100px-style">
            </div>
            <div class="col-sm-8">
                <h1 class="swabhav-light-orange-text"><strong>VoiceNote by faculty:</strong></h1>
            </div>
        </div>
        <div class="text-center font-weight-bold font-md-style">
            <audio controls="" *ngIf="selectedSubmission.facultyVoiceNote" autoplay>
                <source [src]="voiceNote(selectedSubmission.facultyVoiceNote)" type="audio/wav">
            </audio>
        </div>
    </div>

</ng-template>

<!-- Images -->
<ng-template #imagesModal let-modal>

    <div class="modal-body">
        <div class="d-flex justify-content-end">
            <span class="close cursor-pointer-style" (click)="modal.dismiss()">
                <i class="material-icons close-icon">close</i>
            </span>
        </div>
        <ngb-carousel>
            <ng-template *ngFor="let image of selectedSubmission.assignmentSubmissionUploads;let i = index" ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="image.imageURL" alt="Random first slide">
                </div>
            </ng-template>
        </ngb-carousel>
        <!-- <div class="row d-flex align-items-center">
            <div class="col-sm-4">
                <img src="assets/icon/colour-icons/image.png" alt="comment" class="width-100px-style">
            </div>
            <div class="col-sm-8">
                <h1 class="swabhav-light-orange-text"><strong>Images Uploaded:</strong></h1>
            </div>
        </div>
        <br>
        <table class="table table-borderless">
            <thead>
                <tr class="text-center">
                    <th>Sr No.</th>
                    <th>Description</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let image of selectedSubmission.assignmentSubmissionUploads;let i = index">
                    <tr class="text-center">
                        <td class="font-weight-bold font-sm-style color-757575">
                            {{i+1}}
                        </td>
                        <td>
                            <span *ngIf="image.description; else dashTemplate" class="font-weight-bold font-sm-style color-757575">
                                {{image.description}}
                            </span>
                        </td>
                        <td>
                            <img *ngIf="image.imageURL" class="width-50px-style cursor-pointer-style" 
                                src="assets/icon/colour-icons/image.png" alt="Image" (click)="redirectToExternalLink(image.imageURL)">
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table> -->
    </div>

</ng-template>

<!-- Submission form modal -->
<ng-template #submissionFormModal let-modal>

    <div class="modal-body">
        <form [formGroup]="submissionForm">
            <div class="float-right">
                <button type="button" class="close" (click)="dismissFormModal(modal)" class="btn btn-default"
                    type="button"><i class="material-icons close-icon">close</i>
                </button>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-2">
                    <img src="assets/course/assignments-add.png" width="60">
                </div>
                <div class="col-sm-10 top-margin-10-style">
                    <div>
                        <span class="color-F6430F font-weight-bold font-lg-style">Add Submission:</span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="form-group col-10 row-3">
                    <span><strong>Github Link:</strong></span>
                    <input type="text" class="form-control input-style" formControlName="githubURL"
                        placeholder="https://github.com/">
                    <div class="alert alert-danger" *ngIf="(submissionForm.get('githubURL').touched||
                        submissionForm.get('githubURL').dirty)&&submissionForm.get('githubURL').invalid">
                        <!-- <div *ngIf="submissionForm.get('githubURL').errors.required">
                            Github Link must be specified
                        </div> -->
                        <!-- <div *ngIf="submissionForm.get('githubURL').value==null">
                            Github URL must be Specified
                        </div> -->
                        <div *ngIf="submissionForm.get('githubURL').errors.pattern">
                            Github URL must start with https://github.com/
                        </div>
                        <div *ngIf="submissionForm.get('githubURL').errors.maxlength">
                            Github Link can have maximum 500 characters
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-sub-header-style">Image Uploads</div>
            <div formArrayName="assignmentSubmissionUploads"
                *ngFor="let upload of uploadControlArray.controls;let i = index">
                <ng-container [formGroupName]="i">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label class="font-weight-bold font-lg-style">Image {{i+1}}</label>
                            <label class="float-right" (click)="deleteUpload(i)">
                                <i class="material-icons color-F6430F cursor-pointer-style">delete</i>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">
                                        <span><strong>Image:</strong></span>
                                    </label>
                                    <div class="col-sm-2"
                                        *ngIf="uploadControlArray.at(i).get('isImageUploadedToServer').value">
                                        <span
                                            (click)="redirectToExternalLink(uploadControlArray.at(i).get('imageURL').value)"
                                            class="cursor-pointer-style">
                                            <img src="assets/icon/colour-icons/pdf.png" width="30">
                                            <span class="font-weight-bold">
                                                Image.pdf
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="custom-file">
                                            <input type="file" class="custom-file-input input-style"
                                                (change)="onImageSelect($event,i)" id="customFile"
                                                value="uploadControlArray.at(i).get('imageDisplayedFileName').value">
                                            <label class="custom-file-label" id="custom-file-label" for="customFile"
                                                [innerHTML]="uploadControlArray.at(i).get('imageDisplayedFileName').value"></label>
                                            <button class="btn btn-success custom-file" [disabled]="true"
                                                id="uploadingButton" type="button"
                                                *ngIf="uploadControlArray.at(i).get('isImageUploading').value">
                                                <span class="spinner-border spinner-border-sm" role="status"
                                                    aria-hidden="true"></span>
                                                Uploading file...
                                            </button>
                                        </span>
                                        <label id="uploadStatus" for="customFile"
                                            [innerHTML]="uploadControlArray.at(i).get('imageDocStatus').value"></label>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="form-group col-12">
                            <span><strong>Description:</strong></span>
                            <textarea type="text" class="form-control input-style" nbInput formControlName="description"
                                placeholder="eg: About the image upload...">
                            </textarea>
                            <div class="alert alert-danger" *ngIf="(uploadControlArray.at(i).get('description').touched 
                                || uploadControlArray.at(i).get('description').dirty) 
                                && uploadControlArray.at(i).get('description').invalid">
                                <div *ngIf="uploadControlArray.at(i).get('level').errors.maxlength">
                                    Description cannot have more than 1000 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <button class="btn btn-default swabhav-button-round" (click)="addUploadToSubmissionForm()">
                + Add Upload
            </button>

            <br>
            <br>

            <div class="float-right">
                <button type="button" (click)="dismissFormModal(modal)"
                    class="btn btn-default swabhav-button-round">Close</button>
                &nbsp;&nbsp;
                <button type="button" [disabled]="!submissionForm.dirty || checkIfImageIsUploading()"
                    class="btn btn-default swabhav-button-round" (click)="validateSubmissionForm()">
                    Submit
                </button>
            </div>
        </form>
    </div>

</ng-template>

<!-- Concept score modal -->
<ng-template #conceptScoreModal let-modal>

    <div class="modal-body">
        <div class="float-right">
            <button type="button" class="close" (click)="modal.dismiss()" class="btn btn-default" type="button"><i
                    class="material-icons close-icon">close</i>
            </button>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-2">
                <img src="assets/icon/colour-icons/checklist.png" width="60">
            </div>
            <div class="col-sm-10 top-margin-10-style">
                <div>
                    <span class="color-F6430F font-weight-bold font-lg-style">Concept Wise Scores:</span>
                </div>
            </div>
        </div>

        <table class="table table-borderless">
            <thead>
                <tr class="text-center">
                    <th>Sr No.</th>
                    <th class="text-left">Concept</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let conceptRating of selectedSubmission.talentConceptRatings;let i = index">
                    <tr class="text-center cursor-pointer-style assignment-row-style">
                        <td class="font-sm-style font-weight-bold color-757575">
                            {{i+1}}
                        </td>
                        <td class="text-left">
                            <span class="font-sm-style font-weight-bold color-757575">
                                {{conceptRating.programmingConceptModule.programmingConcept.name}}
                            </span>
                        </td>
                        <td>
                            {{conceptRating.score}}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <br><br>

        <div class="float-right">
            <button type="button" (click)="modal.dismiss()" class="btn btn-default swabhav-button-round">Close</button>
        </div>
    </div>

</ng-template>