.arrow {
  border: solid grey;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 4px;
}

i{
  cursor: pointer;
}

#progress {
  padding: 0;
  list-style-type: none;
  font-family: arial;
  font-size: 12px;
  clear: both;
  line-height: 1em;
  margin: 0 -1px;
  text-align: center;
}

#progress li {
  float: left;
  padding: 10px 30px 10px 40px;
  background: #D63C2A;
  color: #fff;
  position: relative;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  width: auto;
  margin: 0 1px;
}

#progress li:before {
  content: '';
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  
}
#progress li:after {
  content: '';
  border-left: 16px solid #D63C2A;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
}

#progress li.active {
  background: #555;
}

#progress li.active:after {
  border-left-color: #555;
}

.popover-title-style{
  font-size: 4mm;
  font-weight: bold;
}

.popover-style:hover{
  transform: scale(1.2);
}

.search-filter-name-style{
  background-color: #F6430F26;
  color: #F6430F;
  border-radius: 30px;
  margin-left: 1%;
  border: 1.5px solid #F6430F;
  padding: 1%;
  display: inline-block;
  margin-top: 1%;
}

.search-mat-drawer-style{
  width: 20%;
}

.search-main-content-style{
  background-color: white;
  padding: 5%;
  min-height: 500px;
}

.college-td-style{
  width: 50%;
}

.talent-status-style{
  padding-left: 15px;
  color: #414141;
}

.search-section-name-style{
  font-weight: bold;
  color: #757575;
  padding-top: 20%;
  border-bottom: 1.5px solid hsl(0, 0%, 46%);
  cursor: pointer;
}

.selected-search-section-name-style{
  font-weight: bold;
  color: #F6430F;
  padding-top: 20%;
  border-bottom: 1.5px solid #F6430F;
  cursor: pointer;
}

.search-section-group-style{
  padding-right: 10%;
  padding-top: 50%;
}

.upcoming-style{
  color: #2091ab;
  font-weight: bold;
}

.finished-style{
  color: green;
  font-weight: bold;
}

.pagination-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pagination-flex-item {
  display: flex;
  align-items: baseline;
}

.pagination-control-flex-item {
  display: flex;
  margin-bottom: auto;
}

.back-button-style{
  margin-top: 20%;
}

.image-style{
  width: 120px;
  border: 2px solid #FC6E26;
  border-radius: 5px;
}

.progress-custom {
  /* width: 100%; */
  background-color: #FF7000BF;
}

.processing-text-style{
  color: #FC6E26;
}

.ng-select-style.ng-select ::ng-deep .ng-select-container  {            
  border: 1.5px solid #FC6E26;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: small;
}

.ng-select.ng-select-disabled>.ng-select-container {
  border: 1.5px solid #FC6E26;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: small;
}

.switch-no-talents-style{
  display: inline-flex;
}

