.card-style{
    margin-left: 15px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    color: #D63C2A;
    border: solid;
    border-radius: 5px;
    width: 200px;
}

.row-style{
    justify-content: center;
    min-width: max-content;
}

.temp{
    overflow-x: scroll;
}

.button-group-style{
    margin-left: 40px;
    margin-right: 40px;
}

.level-style{
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
    font-size: x-large;
}

.box {
    display: flex;
}

.push {
    margin: auto;
}