.heading-style{
    color: #707070;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 2%;
}

.page-margin{
    margin-left: 5%;
    margin-right: 5%;
}  

.card-style{
    border: solid #D63C2A;
}

.problem-header{
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.problem-name-style{
    margin-left: 10%;
}

.card-shadow {
    padding: 10px;
    box-shadow: 5px 10px 8px #00000029;
}

.card-body-style{
    padding-top: 0%;
    padding-bottom: 0%;
}

.problem-date{
    color: #EE3733;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
}

.card-sub-header{
    color: #757575;
    opacity: 0.75;
    font-size: smaller;
    font-weight: bold;
}

.card-sub-detail{
    color: #212121;
    opacity: 0.86;
    font-size: smaller;
    font-weight: bold;
}

.easy{
    color: #009E0B;
    opacity: 0.90;
}

.medium{
    color: #F26A00;
    opacity: 0.90;
}

.hard{
    color: #D63C2A;
    opacity: 0.90;
}

.solve-now-button{
    padding-top: 0%;
    padding-bottom: 0%;
}

.solve-now{
    color: #F6430F;
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
}

.center-style{
    text-align: center;
}

.arrow{
    display:inline-flex;
    vertical-align:top;
}

.problem-of-the-day{
    color: #D63C2A;
}

.table-header{
    color: #757575;
}

.table-details{
    color: #212121;
    font-weight: bold;
}

.medals{
    width: 25%;
}

.leader-image{
    margin-top: 1%;
    border-radius: 50% 50% 50% 50%;
    width: 40px;
    margin-bottom: 1%;
    margin-left: 1%;
    border: 2pt solid #D63C2A;
}

.icon-style{
    font-size: 15px;
    padding-top: 30%;
    font-weight: bold;
    transform: none;
}

.not-found{
    text-align: center;
    font-weight: bold;
    color: #D63C2A;
    border: solid;
    border-radius: 5px;
}

.score-icon{
    font-size: large;
}

.score-style{
    font-size: smaller;
    color: #D63C2A;
}

/* *******************INPUT STYLES***************** */

.input-style{
    color: black;
    border-color: #FC6E26;
    border-width: 1.5px;
    font-weight: bold;
    font-size: small;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  ::-webkit-input-placeholder {
    font-weight: 400;
  }
  
  input[disabled] {
    border-color: #FC6E26;
    color: black;
    border-width: 1.5px;
    font-weight: bold;
    font-size: small;
  }
  
  textarea[disabled] {
    border-color: #FC6E26;
    color: black;
    border-width: 1.5px;
    font-weight: bold;
    font-size: small;
  }
  
  select[disabled] {
    border-color: #FC6E26;
    color: black;
    border-width: 1.5px;
    font-weight: bold;
    font-size: small;
  }
  
  input:disabled::-webkit-input-placeholder { 
    color: black;
  }
  
  textarea:disabled::-webkit-input-placeholder { 
    color: black;
  }
  
  select:disabled::-webkit-input-placeholder { 
    color: black;
  }
  
  .ng-select.ng-select-style ::ng-deep .ng-select-container  {            
    border: 1.5px solid #FC6E26;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: small;
  }
  
  .ng-select.ng-select-style ::ng-deep .ng-select-container  {            
    border: 1.5px solid #FC6E26;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: small;
  }
  
  .ng-select.ng-select-disabled>.ng-select-container {
    color: #FFFFFF;
    background-color: #FC6E26;
    border: 1.5px solid #FC6E26;
    border-radius: 5px;
  }
  
  /******************************************/




