.pointer {
  cursor: pointer;
}

a, a:hover {
  color:white;
  text-decoration: none;
}

.modal-title {
  font-weight: 500;
  font-size: larger;
}

.card-margin {
  margin-bottom: 5%;
}
  
.margin-top {
  margin-top: -2%;
}

.text-size {
  font-size: large;
}
 
.card-header, .card-footer {
  background-color: #fff6f4d0;
}

.btn-swabhav {
  color: #f6430f;
}

/* *******************input styles***************** */
.form-control:focus {
  box-shadow: none;
}

.input-style,
input[disabled],
textarea[disabled],
select[disabled],
.ng-select.ng-select-style ::ng-deep .ng-select-container {
  border-color: #FC6E26;
  border-width: 1.5px;
  font-size: small;
  color: black;
  font-weight: bold;
}


/* SLIDER */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #aaa;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #D63C2A;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #D63C2A;
  cursor: pointer;
}

.slider::-ms-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #D63C2A;
}

/* And now the ticks */
.ticks {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
}

/* TESTING SLIDER WITH LOWER FILL */
/* .slider {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.slider::-webkit-slider-runnable-track {
  background: #ddd;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 40px;
  background: #D63C2A;
  box-shadow: -100vw 0 0 100vw #FC6E26;
  border: 2px solid #D63C2A;
  border-radius: 20px;
}

.slider::-moz-range-track {
  height: 40px;
  background: #ddd;
}

.slider::-moz-range-thumb {
  background: #D63C2A;
  height: 40px;
  width: 20px;
  border: 3px solid #FC6E26;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw #FC6E26;
  box-sizing: border-box;
}

.slider::-ms-fill-lower { 
  background: #FC6E26;
}

.slider::-ms-thumb { 
  background: #D63C2A;
  border: 2px solid #FC6E26;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

.slider::-ms-ticks-after { 
  display: none; 
}

.slider::-ms-ticks-before { 
  display: none; 
}

.slider::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

.slider::-ms-tooltip { 
  display: none;
} */

